@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.header {
  margin-top: 4rem;
}

.code-text {
  font-family: "Source Code Pro", monospace;
  color: var(--blue-color);
}

.header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0rem;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header__container a {
  text-decoration: none;
}

.head-text {
  font-size: 4rem;
}

.header_badge_container {
  z-index: 1;
}

.header__badge {
  width: 800px;
  height: 400px;
  margin: 2rem;
  display: flex;
  padding: 1rem 1rem;
  border-radius: 15px;
  /* effect */
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  /* z-index */
}

.badge_content_container {
  width: 70%;
  margin: 2rem;
}

.badge_content {
  text-align: center;
  justify-content: center;
}

.memoji {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tech-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
  width: 90px;
  height: 90px;
}

.tech-logo img {
  width: 90%;
  height: 90%;
}

.react-logo {
  top: 500px;
  left: calc(50% - 250px);
  width: 100px;
  height: 100px;
}

.javascript-logo {
  top: 600px;
  left: calc(50% - -250px);
  width: 80px;
  height: 80px;
}

.blob-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fixed-blur {
  z-index: 0;
  filter: blur(120px);
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}
.sub-text-container {
  display: flex;
  justify-content: center;
}
