.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background blur */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  /* z-index keeps navbar always at the top */
  z-index: 100;
}

.navbar__logo-container {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar__logo-container span {
  color: var(--white-color);
  font-size: 25px;
  font-weight: bold;
}

.navbar__links {
  flex: 1;
  display: flex;
  list-style: none;

  justify-content: center;
  align-items: center;
}

.navbar__links li {
  cursor: pointer;
}

.navbar__links a {
  color: var(--gray-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s ease-in-out;
}

.navbar__links a:hover {
  transition: 0.5s ease-in-out;
  color: var(--blue-color);
}

/* TABLET */
@media screen and (max-width: 900px) {
  .navbar__links{
    display: none;

  }
}

/* MOBILE */

