.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background blur */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  /* z-index keeps navbar always at the top */
  z-index: 100;
}

.navbar__logo-container {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar__logo-container span {
  color: var(--white-color);
  font-size: 25px;
  font-weight: bold;
}

.navbar__links {
  flex: 1;
  display: flex;
  list-style: none;

  justify-content: center;
  align-items: center;
}

.navbar__links li {
  cursor: pointer;
}

.navbar__links a {
  color: var(--gray-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s ease-in-out;
}

.navbar__links a:hover {
  transition: 0.5s ease-in-out;
  color: var(--blue-color);
}

/* Mobile navigation menu */
.navbar-menu {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu svg {
  width: 100%;
  height: 100%;
  color: var(--blue-color);
}

.navbar-menu div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;

  width: 80%;

  height: 100vh;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  background-color: var(--primary-color);

  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
}

.cross svg {
  color: var(--blue-color);
  width: 35px;
  height: 35px;
  margin: 0.5rem 1rem;
}

.navbar-menu-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-menu-li {
  margin: 1rem;
}

.navbar-menu-li a {
  color: rgb(203, 203, 203);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-li a:hover {
  color: var(--blue-color);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  .navbar__links {
    display: none;
  }
}

/* if more than 900px - remove the menu bar */
@media screen and (min-width: 900px) {
  .navbar-menu {
    display: none;
  }
}
