.about {
}

.about__container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.about__content {
  margin-left: 3rem;
  max-width: 500px;
}

.about__me {
  position: relative;
  width: 100%;
}

.about__me img {
  border-radius: 30px;
  z-index: 1;
  position: absolute;
  transform: rotate(5deg);
  width: 300px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.about__me img:hover {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.about__me-background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, #ff29f4 0%, #6880e8 100%);
  filter: blur(30px);
  z-index: 0;
}

.about__card {
  color: white;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  transition: 0.3s ease-in-out;
}

.btn-container a {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  margin: 2rem 0 0 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
}

.btn-container button:hover {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 450px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }

  .about__me img {
    position: relative;
  }

  .about__me-background {
    display: none;
  }
}
