.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: var(--white-color);
}

.p-text {
  font-size: 1.5rem;
  text-align: left;
  color: var(--white-color);
  line-height: 1.5;
  font-weight: 500;
}
