.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
  position: relative;
  overflow: hidden;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  /* padding: 4rem 2rem; */
  overflow: hidden;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: var(--white-color);
}

.p-text {
  font-size: 1rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;
  font-weight: 300;
}

.sub-text {
  font-weight: 200;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  color: var(--blue-color);
  color: rgb(64, 214, 244);
  margin-bottom: 1.5rem;
  font-family: var(--font-marker);
}

.app__social {
  display: flex;
  padding-top: 300px;
  justify-content: center;
}

.app__social div {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0.25rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.app__social div:hover {
  box-shadow: 0 0 20px rgba(0, 125, 197, 0.5);
  cursor: pointer;
}

.app__social svg {
  width: 15px;
  height: 15px;
  color: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
  .head-text {
    font-size: 1.75rem;
  }
  .sub-text {
    font-size: 0.75rem;
  }
  .app__wrapper {
  }
}

@media screen and (min-width: 2000px) {
}
