@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #060322;
  --blue-color: #15bebe;
  --purple-color: #600b95;
  --pink-color: #a802ae;
  --gray-color: #b7bbc2;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
