.projects__filter {
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem;
}

.projects__intro {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects__filter-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5rem;
  /* background blur */
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.projects__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects-item {
  width: 270px;
  height: 350px;
  flex-direction: column;
  margin: 2rem;
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  /* background blur */
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.projects-item:hover {
  box-shadow: 0 0 25px rgb(141, 11, 255);
}

.projects-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.projects-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.projects-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  margin: 1rem;
}

.projects-content h4 {
  margin: 0.5rem;
  padding: 1.5;
  color: white;
}


