.quote-container {
  /* background-image: linear-gradient(90deg, rgba(255, 41, 244) 0%, #6880e8 100%); */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 30px;
  background-color: rgba(0, 213, 255, 0.9);
  padding: 1rem 2rem;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  margin: 3rem 0rem;
}

.project-title {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1rem;
}

.project-description {
  color: #c2c2c2;
  font-weight: 200;
}

.project-container {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  display: flex;
  height: 400px;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin: 5rem 0rem;
}

.project-container:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.project-image {
  height: 400px;
  width: 500px;
  background-color: red;
  border-radius: 30px;
  object-fit: cover;
}

.text-container {
  margin: 1.9rem;
}

.smaller-text {
  color: #9d9d9d;
  margin: 0rem 2rem;
}

.tech-container {
  text-align: left;
}

.quote-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 30px;
  padding: 1rem 2rem;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  margin: 3rem 0rem;
}

.quote {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.app__featured-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.app__featured-hover div {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 1rem;
  font-family: var(--font-base);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.4s ease;
}

.app__featured-hover svg {
  width: 50%;
  height: 50%;
  color: var(--white-color);
}

/* MEDIA QUERIES */

/* TABLET */
@media screen and (max-width: 768px) {
  .container-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
  }
  .project-container {
    width: 100%;
    height: 350px;
    flex-direction: column;
    margin: 2rem;
    color: #000;
    /* background blur */
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .project-image {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .app__featured-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .app__featured-hover div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .app__featured-hover svg {
    width: 50%;
    height: 50%;
    color: var(--white-color);
  }

  .tech-container {
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 450px) {
  .project-container {
    width: 270px;
    height: 350px;
    flex-direction: column;
    margin: 2rem;
    color: #000;
    /* background blur */
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .project-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .app__featured-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .app__featured-hover div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .app__featured-hover svg {
    width: 50%;
    height: 50%;
    color: var(--white-color);
  }

  .tech-container {
    display: none;
  }
}
